body {
    background-image: url( "../images/Wiki-background.jpg");
    background-size: 100% 100%;
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: Cornflowerblue;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 36px;
    text-align: right;
    image-rendering: right;
}   
.char {
    height: 128px;
    background-color: white;
    border: 2px solid black;
}

.box0 {
    padding: 0px 3px;
}
.box1 {
    padding: 0px 3px;
}
.box2 {
    padding: 0px 3px;
}

.btn{
    border: 2px double blue;
}

/* need relative position for animation */

#box33{
    position: relative; 
    top: 250px;
    /* background-color: black;
    border: 3px solid white;
    width: 140px; */
    padding: 0px 3px;
    color: white;
}

p{
    padding: 0px;
    text-align: center;
}

#health, #defender, #stats {
    color: white;
    background-color: cornflowerblue;
}