body {
    background-image: url( "../images/Wiki-background.jpg");
    background-size: 100% 100%;
}

.char {
    height: 128px;
    background-color: white;
    border: 2px solid black;
}

.box0 {
    padding: 0px 3px;
}
.box1 {
    padding: 0px 3px;
}
.box2 {
    padding: 0px 3px;
}
#box33{
    background-color: black;
    padding: 0px 3px;
    color: white;
    border: 3px solid white;
    width: 140px;
}

p{
    padding: 0px;
    text-align: center;
}
